[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
werkzeug = "==2.2.3"
faker = "*"
flask = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
cloudinary = "*"
flask-restful = "*"
flask-socketio = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.8"
