[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
werkzeug = "==2.2.3"
flask-cors = "*"
flask-restful = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
